<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367920415756-be1vln9fajttpon358fbc5rgtu94h99h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367920415756-be1vln9fajttpon358fbc5rgtu94h99h</string>
	<key>API_KEY</key>
	<string>AIzaSyCtalXEqR-McpdQDCqGQeCC9Syt708T_KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>367920415756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KPT.FoodBodi.dev</string>
	<key>PROJECT_ID</key>
	<string>foodbodi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbodi-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367920415756:ios:a769aa8f8e24aaf3c39a29</string>
	<key>DATABASE_URL</key>
	<string>https://foodbodi-prod.firebaseio.com</string>
</dict>
</plist>